/* base.css

Styles for every page that inherits from base.html
*/

body {
    width: auto;
    margin: 5px;
    font: 100% "Trebuchet MS", Arial, Helvetica, sans-serif;
    /*font-size: 0.825em;*/
}

header {
    width: 100%;
    background-color: #646464;
    color: white;
    padding: 5px 10px;
}

header hgroup {
    font-family: "Computer Modern", Georgia, serif;
}

header hgroup a {
    color: white;
    text-decoration: none;
}

header hgroup h1 {
    font-size: 1.6em;
}

header hgroup h2 {
    font-size: 1.0em;
}

nav.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 180px;
    border-right: 1px solid gray;
    background-color: white;
}

nav.sidebar ul.tab-bar {
    display: none;
}

nav section ul {
    font: 1.1em Georgia, serif;
    font-weight: bold;
    list-style: none;
    padding-left: 5px;
}

nav section ul li {
    padding-top: 3px;
}

nav a {
    color: black;
    text-decoration: none;
}

nav form#login, nav form#logout {
    
}

nav form#login input {
    font-size: 0.875em;
}

nav form#login button, nav form#logout button {
    font: inherit;
    font-size: 0.875em;
    background-color: transparent;
    color: black;
    border: none;
    cursor: pointer;
    line-height: normal;
    
}

div.main {
    position: absolute;
    left: 180px;
    top: 0;
    width: 100%;
}

div.content {
    margin-left: 15px;
}

footer {
    padding: 10px 2px;
    background-color: #444444;
    color: white;
    font-size: 0.925em;
    clear: both;
}
