<html>
    <head>
        <title>Aggr - Delete Aggregate</title>
    </head>
    <body>
        <h1>Aggr</h1>
        <h2>Delete Aggregate</h2>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <p><strong>Are you sure you want to delete the aggregate "{{ aggr.name }}"?</strong></p>
        {% load url from future %}
        <form method="post">
        {% csrf_token %}
        <input type="hidden" name="aggr_id" value="{{ aggr.id }}" />
        <input type="submit" name="confirm" value="Delete" />
        <input type="submit" name="confirm" value="Cancel" />
        </form>
    </body>
</html>
