<!DOCTYPE html>
<html>
    <head>
        <title>Aggr something something</title>
        <!--<link href="{{ STATIC_URL }}css/reset.css" rel="stylesheet" type="text/css" />-->
        <link href="{{ STATIC_URL }}css/base.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        {% include "aggr_app/header.html" %}
        <div class="content">
            {% block content %}
            {% endblock content %}
        </div>
        {% include "aggr_app/footer.html" %}
    </body>
</html>
