{% extends "aggr_app/base.html" %}
{% block title %}{{ aggr.name }}{% endblock %}
{% block head %}
    <link href="{{ STATIC_URL }}css/detail.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}

<h2>{{ aggr.name }}</h2>
<h3><a href="{{ rss_url }}">RSS Feed</a></h3>
{% for entry in aggr.items %}
    {% include "aggr_app/aggr_entry.html" %}
{% endfor %}
<form method="GET" action="{% url aggr_app.views.new_aggr aggr.id %}">
<input type="submit" value="Edit">
</form>
<form method="GET" action="{% url aggr_app.views.delete_aggr aggr.id %}">
<input type="submit" value="Delete">
</form>
{% endblock content %}
