<nav class="sidebar">
    <form id="login" name="login" method="POST" action="{% url django.contrib.auth.views.login %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}" />
        <table>
            <tr>
                <td colspan="2"><input type="text" name="username" value="" placeholder="Username" /></td>
            </tr>
            <tr>
                <td colspan="2"><input type="password" name="password" value="" placeholder="Password" /></td>
            </tr>
            <tr>
                <td><button type="submit">Login</button></td>
                <td><a href="{% url registration.views.register %}">Register</a></td>
            </tr>
        </table>
    </form>
    <section>
        <h1>Public Aggrs</h1>
        <ul>
            {% for aggr in public_aggrs %}
                <li><a href="{% url aggr_app.views.aggr_detail aggr.id %}">{{ aggr.name }}</a></li>
            {% endfor %}
        </ul>
    </section>
</nav>
<div class="clear">
</div>
