{% extends "aggr_app/base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
{% load url from future %}
<h2>Feeds</h2> <a href="{% url 'aggr_app.views.new_feed' %}">New</a>
{% if feed_list %}
    <ul>
    {% for feed in feed_list %}
        <li><a href="{% url 'aggr_app.views.feed_detail' feed.id %}">{{ feed.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No feeds have been created.</p>
{% endif %}
<h2>Aggregates</h2> <a href="{% url 'aggr_app.views.new_aggr' %}">New</a>
{% if aggr_list %}
    <ul>
    {% for aggr in aggr_list %}
        <li><a href="{% url 'aggr_app.views.aggr_detail' aggr.id %}">{{ aggr.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No aggregates have been created.</p>
{% endif %}
{% endblock content %}
