{% extends "aggr_app/base.html" %}
{% block title %}Login{% endblock %}
{% block head %}
    <link href="{{ STATIC_URL }}css/login.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form id="login" name="login" method="POST" action="{% url django.contrib.auth.views.login %}">
{% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Login" />
</form>
<p><a href="{% url registration.views.register %}">Register here.</a></p>
{% endblock content %}
